URxvt.scrollBar: false
URxvt*termName: xterm-256color

! special
*.foreground:   #c5c8c6
*.background:   #1f2428
*.cursorColor:  #c5c8c6

! black
*.color0:       #2d2d2d
*.color8:       #747369

! red
*.color1:       #f9826c
*.color9:       #f9826c

! green
*.color2:       #23d18b
*.color10:      #23d18b

! yellow
*.color3:       #ffcc66
*.color11:      #ffcc66

! blue
*.color4:       #398ae5
*.color12:      #398ae5

! magenta
*.color5:       #cc99cc
*.color13:      #cc99cc

! cyan
*.color6:       #66cccc
*.color14:      #66cccc

! white
*.color7:       #c5c8c6
*.color15:      #f2f0ec

! man page coloring
*.colorIT:		#87af5f
*.colorBD:		#d7d7d7
*.colorUL:		#87afd7

*.font: xft:Ubuntu Mono:style=Regular:size=15
*.boldFont: xft:Ubuntu Mono:style=Bold:size=15

*.letterSpace: 0
